@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamburger-svg {
    --hamburger-bezier: cubic-bezier(0.5, 1, 0.89, 1);
  }
  .hamburger__top-line,
  .hamburger__bottom-line {
    stroke-dasharray: 80 8000;
    transition: 850ms var(--hamburger-bezier);
  }
  [data-open="true"] .hamburger__top-line,
  [data-open="true"] .hamburger__bottom-line {
    stroke-dashoffset: -150;
  }
  .scrollbar-remove::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar-remove {
    scrollbar-width: 5px;
    scrollbar-color: #94a3b8 #e2e8f0;
  }
  .scrollbar-remove::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-slate-400;
  }
  .scrollbar-remove::-webkit-scrollbar-track {
    @apply bg-slate-200;
  }
}
